@mixin archive-header() {
  background-color: $dark-red;
  color: $white;
  font-family: $sans;
  padding: 0.7em 0 0.5em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @media #{$tablet} {
    font-size: 1.5em;
  }

  h1 {
    margin: 0.67em 0;
    font-size: 2em;
    margin: 0;
  }
}

@mixin section-header() {
  background-color: $white;
  color: $dark-grey;
  font-family: $sans;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @media #{$tablet} {
    font-size: 1.333em;
  }

  h2 {
    margin: 0.67em 0;
    font-size: 1.777em;
    margin: 0;
  }
}

@mixin page-body() {
  margin-top: 1.5em;

  @media #{$desktop} {
    display: flex;
  }
}

@mixin page-content() {
  margin-bottom: 2em;

  blockquote {
    margin: 1.5em auto; 
    width: 80%;
  }

  p {
    margin-top: 0;
    margin-bottom: 1em;
  }

  em {
    font-style: italic;

    em {
      font-style: normal;
    }
  }

  strong {
    font-weight: 700;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
  }

  pre, .highlight {
    font-family: $monospace;
    font-size: 20px;
    margin-bottom: 1em;
    overflow-x: scroll;
    width: 80%;

    .gutter {
      display: none;
    }
  }

  .markdown-content ol {
    counter-reset: li;
    display: table;
    margin-bottom: 1em;

    & > li {
      display: table-row;
      position: relative;

      &:before {
        color: $medium-grey;
        content: counter(li) ".";
        counter-increment: li;
        display: table-cell;
        font-size: 18px;
        padding-right: 1em;
        text-align: right;
      }
    }
  }

  .markdown-content ul {
    display: table;
    margin-bottom: 1em;

    & > li {
      display: table-row;
      position: relative;

      &:before {
        color: $medium-grey;
        content: "♠";
        display: table-cell;
        font-size: 18px;
        padding-right: 1em;
        text-align: right;
        -webkit-transform: translate(-30%, 30%) rotate(90deg);
      }
    }
  }

  .chinese {
    // font-size: 20px;
    line-height: 1.7;
    text-align: justify;
    ms-text-justify: inter-ideograph;
    word-break: break-all;

    em {
      font-style: normal;
    }
  }

  @media #{$desktop} {
    flex: 3;
    padding: 1em 30px;
  }
}
