// fonts
$reem-kufi: "Reem Kufi", sans-serif;
$crimson-text: "Crimson Text", "Garamond", serif;
$sans: $reem-kufi;
$serif: $crimson-text;
$monospace: "Inconsolata", monospace;

// colours
$dark-grey: #4d4e4e;
$dark-red: #990100;
$light-grey: #edeff0;
$white: #fff;

// breakpoints
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
