// fonts
$open-sans: "Open Sans", sans-serif;
$sorts-mill-goudy: "Sorts Mill Goudy", "Georgia", "Times New Roman", serif;
$sans: $open-sans;
$serif: $sorts-mill-goudy;

// colours
$dark-grey: #4d4e4e;
$dark-red: #990100;
$light-grey: #edeff0;
$white: #fff;

// breakpoints
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
