@import "variables";
@import "pure-hidden";
@import "_components/all";


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: $serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $dark-grey;
  line-height: 1.777;
}

.hidden {
  display: none;
}
