@import "reset";
@import "variables";
@import "mixins";
@import "pure-hidden";
@import "_components/all";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: $serif;
  letter-spacing: -0.1px;
  // -webkit-font-smoothing: antialiased;
}

body {
  color: $dark-grey;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 3em;
}


a {
  color: $dark-red;
  text-decoration: none;
}

blockquote {
  margin: 1.5em auto; 
  width: 80%;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

em {
  font-style: italic;

  em {
    font-style: normal;
  }

}

strong {
  font-weight: 700;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

pre, .highlight {
  font-family: $monospace;
  font-size: 20px;
  margin-bottom: 1em;
  overflow-x: scroll;
  width: 80%;

  .gutter {
    display: none;
  }
}
