@import "reset";
@import "variables";
@import "mixins";
@import "pure-hidden";
@import "_components/all";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: $serif;
  letter-spacing: -0.1px;
  // -webkit-font-smoothing: antialiased;
}

body {
  color: $dark-grey;
  font-size: $base-font-size;
  line-height: 1.6;
  margin-bottom: 3em;
}

a {
  color: $dark-red;
  text-decoration: none;
}

.hidden {
  display: none;
}

ol {
  counter-reset: li;
  display: table;
  margin-bottom: 1em;

  & > li {
    display: table-row;
    position: relative;

    &:before {
      color: $medium-grey;
      content: counter(li) ".";
      counter-increment: li;
      display: table-cell;
      padding-right: 1em;
      text-align: right;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  line-height: 1.2;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}
