.Post {
  &__header {
    align-items: center;
    background-color: $dark-red;
    background-position: center center;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 256px;
    justify-content: center;
    line-height: 1.1;
    text-align: center;
    width: 100%;
    vertical-align: middle;

    @media #{$tablet} {

    }

    @media #{$desktop} {
      height: 400px;
    }

    h1 {
      font-family: $sans;
      font-size: $h4;
      margin: 0.67em 0;
      text-transform: uppercase;
      width: 80%;

      @media #{$tablet} {
        font-size: $h3;
      }

      @media #{$desktop} {
        font-size: $h2;
      }
    }

    p {
      font-style: italic;
      margin: 0.1em 0;

      @media #{$desktop} {
        font-size: $h4;
      }
    }
  }

  &__body {
    @include page-body();
  }

  &__content {
    @include page-content();
  }
}
